<main class="main">
  <div class="content">
    <div class="display-box">selection: {{ printSelection() }}</div>
    <kendo-scheduler
      [kendoSchedulerBinding]="events"
      [group]="group"
      [resources]="resources"
      [selectedDate]="selectedDate"
      [currentTimeMarker]="{ enabled: false }"
    >
      <kendo-scheduler-timeline-view
        [slotDivisions]="TimelineConfig.slotDivisions"
        [slotDuration]="TimelineConfig.slotDuration"
        [numberOfDays]="TimelineConfig.numberOfDays"
      >
        <ng-template kendoSchedulerDateHeaderTemplate class="date-header" let-date="date">
          {{ date | date : "dd/MM/yyyy" }}
        </ng-template>
        <ng-template kendoSchedulerGroupHeaderTemplate let-resource="resource">
          <button 
            class="group-header-button"
            (click)="highlightRow(resource.value)"
          >
            {{ resource.text }}
          </button>
        </ng-template>
        <ng-template kendoSchedulerEventTemplate let-event="event">
          <button
            class="slot-button"
            [attr.id]="event.dataItem.id"
            [attr.resourceId]="event.dataItem.resourceId"
            (click)="highlightButton($event, event)"
          >
            {{ event.title }}
          </button>
        </ng-template>
      </kendo-scheduler-timeline-view>
    </kendo-scheduler>
  </div>
</main>

<router-outlet />
